@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* HEADER */
.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 3%;
  border-bottom: 1px solid #ccc;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 10px;
}

.nav li {
  display: inline;
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  color: #223037;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}

.nav a:hover {
  color: #c981c9;
  font-weight: bold;
}

/* DOCUMENT LIST */
.documentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 3% 8% 0% 8%;
  max-width: 100%;
}

.document-item {
  max-width: 600px; /* Adjust the maximum width of each document item */
  margin: 10px;
  list-style-type: none;
}

.document-image {
  width: 100%; /* Set width to 100% to fill the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure image does not exceed its container's width */
  max-height: 330px; /* Set a maximum height for the image */
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 2%;
  border: 1.5px solid #ccc;
  border-radius: 10px;
}

.document-details {
  padding: 10px;
}

.document-title {
  color: #223037;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
}

.document-author,
.document-preview,
.document-date {
  color: #98a1b2;
  font-family: "Manrope", sans-serif;
}

.page-view {
  display: flex;
  justify-content: center;
}

.page-container {
  max-width: 700px;
  width: 100%;
  margin: 2% 3% 5% 5%;
  font-family: "Manrope", sans-serif;
  /* top, right, bottom, left */
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10% 0 10% 0;
  text-align: center;
}

.keyterm {
  color: #c981c9;
  font-weight: bold;
}

.resource-list li {
  list-style-type: none;
  /* font size */
}
.resource-list li a {
  list-style-type: none;
  /* font size */
  font-size: 38px;
}

.resource-list {
  padding: 0;
  margin: 5% 0 5% 0;
}

ul li a:hover::before {
  content: ">";
  color: rgb(18, 128, 218);
  text-decoration: underline;
  padding-right: 5px;
}