@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Mobile */
@media screen and (max-width: 600px) {
  .document-item {
    width: 90vw;
    margin: 10px 0px !important;
  }

  .register-page {
    text-align: center;
  }

  .logo {
    display: none;
  }
}

/* Search Bar */
.search-bar {
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
}

.search-bar input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.upper-dash {
  margin: 3%;
}

/* GOOGLE SIGN-IN */
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.15),
    0 5px 7px rgba(0, 0, 0, 0.15);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.home {
  margin-top: 10%;
  border-bottom: 1px solid #ccc;
}

/* PROFILE */
.profile-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.documentView img,
.docuImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 2%;
  border: 1.5px solid #ccc;
}

.documentView br {
  content: "";
  margin: 43px;
  display: block;
}

.title-input {
  font-size: 24px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 25px;
}

.logo {
  margin-right: auto; /* Pushes the logo to the left */
}

.logo-text {
  margin-left: 6px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
}

.nav-links a:hover {
  color: #343434;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #e4e7eb;
  font-size: 16px;
}

.navigation-bar li {
  display: inline;
}

.navigation-bar li {
  margin-right: 25px;
}

.nav a:hover {
  color: #00000099;
}

/* DOCUMENT LIST */
.upper-dash {
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 3% 8% 0% 8%;
  max-width: 100%;
}

ul.post {
  list-style-type: none;
  padding: 0px;
}

.documentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  max-width: 100%;
}

.post li {
  background-color: white;
  border-radius: 8px;
  border: #e4e7eb 1px solid;
  /* padding: 0.675rem; */
}

.document-info {
  padding: 0.675rem;
}

.myDocuments {
  padding: 0;
  margin: 3% 8% 0% 8%;
  max-width: 100%;
  min-height: 80vh;
}

.myDocuments li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
}

.document-item {
  max-width: 600px;
  margin: 0px 0px 25px 0px;
  list-style-type: none;
}

.document-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 330px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
  margin-bottom: 2%;
}

.document-details {
  padding: 10px;
}

.document-title {
  color: #223037;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
}

.document-preview {
  color: black;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
}

.document-author,
.document-date {
  color: #545861;
}

.document-date {
  font-weight: 500;
}

.page-view {
  display: flex;
  justify-content: center;
}

.page-container {
  max-width: 700px;
  width: 100%;
  margin: 2% 5% 5% 5%;
  font-family: "Manrope", sans-serif;
}

.page-title {
  font-size: clamp(3rem, 1.2394366197rem + 3.6948356808vw, 5rem);
  font-weight: bold;
  margin: 10% 0 10% 0;
  text-align: center;
}

::selection {
  background-color: #000000;
  color: #fff;
}

.text-button {
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
}

.black-button {
  background-color: #333333;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 3% 0;
  font-size: 14px;
  border: 3px black;
}

.black-button:hover {
  background-color: #4d4d4d;
  color: white;
}

.button-simple {
  background-color: #0096f7;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 3% 0;
  font-family: "Manrope", sans-serif;
  border: 3px black;
  transition: background-color 0.2s ease;
  cursor: "pointer";
  font-size: "16px";
  background-color: "#0096f7";
}

.button-simple:hover {
  background-color: #33abf9;
  color: white;
}

.button-simple:active {
  background-color: #8d7a68;
  color: white;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.ql-toolbar {
  background-color: #2d2d2d;
  border-radius: 8px;
  /* border: 2px solid #ccc; */
  box-shadow: 1.5px 1.5px 0px 1px #acacac;
}

.post-button {
  background-color: #d7d3d0;
  color: white;
  border: 0px;
  border-radius: 8px;
  padding: 6px 26px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 16px;
}

.post-button:hover {
  background-color: #e1764f;
  transition: background-color 0.1s ease;
}

.return-text {
  color: #333333;
  text-decoration: none;
}

.return-text:hover {
  text-decoration: underline;
}
