@font-face {
  font-family: "behance";
  src: url("../fonts/Geist-1.3.0/Geist-1.3.0/statics-otf/Geist-Medium.otf") format("opentype");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'din-round-pro', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f9fa !important;
  }